{% extends 'base.html.twig' %}

{% block title %}UserGameAnswer index{% endblock %}

{% block body %}
{% include 'back/partial/back_nav_bar.html.twig' %}
    <h1>UserGameAnswer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Good</th>
                <th>DelayAnswer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_game_answer in user_game_answers %}
            <tr>
                <td>{{ user_game_answer.id }}</td>
                <td>{{ user_game_answer.good ? 'Yes' : 'No' }}</td>
                <td>{{ user_game_answer.delayAnswer }}</td>
                <td>
                    <a href="{{ path('app_back_user_game_answer_show', {'id': user_game_answer.id}) }}">show</a>
                    <a href="{{ path('app_back_user_game_answer_edit', {'id': user_game_answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_user_game_answer_new') }}">Create new</a>
{% endblock %}
