{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
{% include 'back/partial/back_nav_bar.html.twig' %}
    <h1>Answer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.content }}</td>
                <td>{{ answer.createdAt ? answer.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_answer_show', {'id': answer.id}) }}">show</a>
                    <a href="{{ path('app_back_answer_edit', {'id': answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_answer_new') }}">Create new</a>
{% endblock %}
