{% extends 'base.html.twig' %}

{% block title %}Question index
{% endblock %}

{% block body %}
	{% include 'back/partial/back_nav_bar.html.twig' %}
	<div class="container pt-5">
		<div class="row mb-2">
			<h1>Liste des question</h1>
			<div class="col-10 mx-auto">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Content</th>
							<th>CreatedAt</th>
							<th>UpdatedAt</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for question in questions %}
							<tr>
								<td>{{ question.id }}</td>
								<td>{{ question.content }}</td>
								<td>{{ question.createdAt ? question.createdAt|date('Y-m-d') : '' }}</td>
								<td>{{ question.updatedAt ? question.updatedAt|date('Y-m-d') : '' }}</td>
								<td>
									<a class="btn btn-sm btn_show" href="{{ path('app_back_question_show', {'id': question.id}) }}">Voir</a>
									<a class="btn btn-sm btn_edit" href="{{ path('app_back_question_edit', {'id': question.id}) }}">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">Questions non trouvées</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<a href="{{ path('app_back_question_new') }}">Create new</a>
{% endblock %}
