{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
{% include 'back/partial/back_nav_bar.html.twig' %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            {# <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr> #}
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>TotalScore</th>
                <td>{{ user.totalScore }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_user_index') }}">back to list</a>

    <a href="{{ path('app_back_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('back/user/_delete_form.html.twig') }}
{% endblock %}
